*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("../interfaz_Mascota/huellas-removebg-preview.png");
    background-size: contain;
    overflow-x: hidden;
    
}
.conte-general{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 0.9;
    background-color: #F4F6F6;
    
}
.general__imagen{
    
    border-radius: 1.5vw;
}
.imagen__img{
    border-radius: 1.5vw;
    width: 100%;
    height: 100%;
}
.general__formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.formulario {
    background-color: #1a1919;
    opacity: 0.9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #F4F6F6;
    font-weight: 500;
    font-size: 1.5vw;
}

.formulario input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    outline: none;

}
.formulario input:focus {
    border-color: #3d8544;
    background-color: #ccc;
    color:  #3d8544;
}

.btn_guardar {
    background-color: #3d8544;
    color: #fff;
    padding: 14px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    font-size: 1.4vw;
}

.btn_guardar:hover {  
background-color: white;
color: #3d8544;
}